.movies-list {
    padding: 70px 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 24px;
    list-style-type: none;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .movies-list {
        grid-template-columns: repeat(2, 1fr);

        row-gap: 36px;
        column-gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    .movies-list {
        grid-template-columns: 100%;
        padding: 40px 0 30px;
        row-gap: 17px;
    }
}