.footer-content {
    padding: 65px 0 20px 0;
    background-color: var(--grey-bg-footer);
}

.footer__container {
    margin: 0 auto;
    max-width: 1140px;
    display: grid;
    grid-template-areas:
        'text text text'
        'year yp git';
    grid-template-columns: auto 120px 45px;
    row-gap: 5px;
    column-gap: 20px;
}

.footer__text {
    grid-area: text;
    text-align: center;
    border-bottom: 1px solid var(--grey-fon);
    font-size: 13px;
    line-height: 16px;
    color: var(--grey-text);
    padding: 0 0 20px;
}

.footer__year {
    grid-area: year;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
}

.footer__yp-link {
    grid-area: yp;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
    margin: 0;
    color: var(--black);
}

.footer__git-link {
    grid-area: git;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
    margin: 0;
    color: var(--black);
}

@media screen and (max-width: 1279px) {
    .footer-content {
        padding-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .footer-content {
        padding-top: 50px;
    }

    .footer__container {
        grid-template-areas:
            'text '
            ' yp'
            ' git'
            'year';
        grid-template-columns: 100%;
        justify-content: center;
        text-align: center;
        row-gap: 16px;
        column-gap: 20px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__year {
        margin-top: 15px;
        font-size: 12px;
        line-height: 15px;
        color: var(--grey-text);
    }

    .footer__yp-link {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__git-link {
        font-size: 12px;
        line-height: 15px;
    }
}