.movies {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 70px;
}

.movies__container {
    padding: 70px 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 364px);
    row-gap: 30px;
    column-gap: 24px;
}