.popup-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s, opacity ease 0.2s;
}

.popup-wrapper_open {
    visibility: visible;
    opacity: 1;
}

.popup__container {
    position: relative;
    grid-template-rows: 22px auto 30px;
    max-width: 100%;
    width: calc(340px + 90px + 90px);
    background-color: var(--white);
    height: 100vh;
    margin: 0 0 auto auto;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.menu__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    gap: 28px;
    grid-template-rows: repeat();
    flex-direction: column;
    justify-content: start;
    padding-top: 15vh;
}

.menu__link-li {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.menu__link {
    color: #000000;
}

.menu__link_active {
    border-bottom: 2px solid #000;
}

.menu__button {
    padding: 8px 20px;
    background: var(--grey-bg-footer);
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    position: absolute;
    bottom: 8vh;
}

.menu__button-close {
    background-color: inherit;
    border: 0;
    width: 22px;
    height: 22px;
    background-image: url(../../images/x-popup.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    margin: 0 0 auto auto;
    position: absolute;
    right: 25px;
    top: 25px;
}