.movies {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 calc(50/1280 *100%) 0 calc(70/1280 *100%);
}


.movies__container {
    padding: 70px 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 24px;
    list-style-type: none;
    margin: 0;
}

.movies__more {
    padding: 50px 0 80px;
    display: flex;
    justify-content: center;
}

.movies__more-button {
    width: 320px;
    min-height: 36px;
    background-color: var(--grey-bg-footer);
    border-radius: 6px;
    border: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 1279px) {
    .movies {
        padding: 0 calc(15/768 *100%) 0 calc(30/768 *100%);
    }

    .movies__container {
        grid-template-columns: repeat(2, 1fr);

        row-gap: 36px;
        column-gap: 30px;
    }

}

@media screen and (max-width: 767px) {

    .movies__container {
        grid-template-columns: 100%;
        padding: 40px 0 30px;
        row-gap: 17px;
    }

    .movies__more-button {
        width: calc(240/320*100%);
    }
}