.navigation {
    margin: 0 auto;
    max-width: 1140px;
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_links {
    display: flex;
}

.navigation__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 8px;
    color: var(--black);
}

.navigation__link_active {
    font-weight: 500;
}

.navigation__button {
    background: var(--grey-bg-footer);
    border-radius: 20px;
    padding: 8px 20px;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}