.portfolio {
    max-width: 1140px;
    padding: 0 50px 105px 70px;
    margin: 0 auto;
}

.portfolio__link {
    font-size: 18px;
    line-height: 20px;
    color: var(--grey-text);
    text-decoration: none;
}

.portfolio__container {
    margin-bottom: 30px;
}