@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

:root {
  --black: #000;
  --white: #FFF;
  --grey-text: #A0A0A0;
  --grey-border: #AAAAAA;
  --grey-fon: #E8E8E8;
  --grey-bg-tehno: #F5F5F5;
  --grey-bg-footer: #F9F9F9;
  --grey-bg-card: #FDFDFD;
  --bg-intro: #5C5C5C;
  --green: #2BE080;
  --red: #EE3465;

}

.page {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--white);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
}

.link {
  text-decoration: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.link:hover {
  opacity: 0.7;
}

.button-container {
  position: relative;
}

.span-error {
  width: 100%;
  position: absolute;
  top: -33px;
  font-size: 11px;
  line-height: 13px;
  color: #FF004C;
  display: none;
  justify-content: center;
  text-align: center;
}

.span-error_active {
  display: flex;
}

.button {
  text-decoration: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.button:hover {
  opacity: 0.8;
}

.container {
  max-width: 1140px;
  padding: 0 calc(50/1280 *100%) 0 calc(70/1280 *100%);
  margin: 0 auto;
}

.window {
  text-align: center;
  max-width: 410px;
  width: 70%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%)
}

.popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity ease 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-wrapper_open {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  max-width: 80%;
  width: 500px;
  min-height: 150px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__button-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: opacity 1s ease;
  background-image: url(../images/x-popup.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: 0;
}

.popup__form {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.popup__status-text {
  font-weight: 900;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .container {
    padding: 0 calc(35/768 *100%) 0 calc(50/768 *100%);
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 calc(15/320 *100%) 0;
  }
}