.portfolio-link {
    border-bottom: 1px solid var(--grey-fon);
}

.portfolio-link:last-of-type {
    border-bottom: 0;
}

.portfolio-link__a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 19px 0;
}

.portfolio-link__text {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.06em;
    color: var(--black);
}

.portfolio-link__arrow {
    width: 19px;
    height: 19px;
    background-image: url(../../../../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 1279px) {
    .portfolio-link {
        padding: 20px 0;
    }

    .portfolio-link__text {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio-link__arrow {
        width: 13px;
        height: 13px;
    }
}